- var css = '/assets/main.css'
- var js = '/assets/main.js'
//- var jsExt = 'https://unpkg.com/mithril@1.1.1/mithril.min.js'
- var jsExt = '/assets/mithril.js'
doctype html
html(lang='en')
  head
    link(rel='manifest', href='/assets/manifest.json')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title HN :: mithril
    meta(name='theme-color', content='#000000')
    link(rel='shortcut icon' href='/assets/favicon.ico')
    link(rel='preload', as='style' href=css)
    link(rel='stylesheet' href=css)
    link(rel='preload', as='script' href=jsExt)
    link(rel='preload', as='script' href=js)
  body
    header.navigation(role='banner')
      nav
        ul.main
          li
            a.type-top(class={selected: active == 'news'}, href='/top/1') Top
          li
            a.type-new(class={selected: active == 'newest'}, href='/new/1') New
          li
            a.type-ask(class={selected: active == 'ask'}, href='/ask/1') Ask
          li
            a.type-sho(class={selected: active == 'show'}, href='/sho/1') Show
          li
            a.type-job(class={selected: active == 'jobs'}, href='/job/1') Jobs
    #container
      block container
    script(src=jsExt)
    script(src=js)
