//@import "bourbon/bourbon";
//@import "neat/neat";

html {
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: inherit;
}

$sans-serif: "PT Sans", sans-serif;
body {
  margin: 0;
  background: #000000;
  color: #ffffff;
  font-family: $sans-serif;
}

// $grid-columns: 12;
// @for $i from 1 through $grid-columns {
//   .col-#{$i} {
//     @include grid-column($i);
//   }
// }
$action-color: #477DCA !default;

header nav {
  $dark-gray: #333 !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 4em;

  position: fixed;
  top: 0;
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    line-height: $navigation-height;
    display: inline;
    padding-right: 0.8em;
    a {
      color: $navigation-color;
      text-decoration: none;
      padding-right: 1em;
      &.selected, &:active, &:focus {
        color: $action-color;
      }

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }
}

#container {
  margin-top: 4.5em;
}

.content {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
  min-height: 4em;
  color: darken(#ffffff, 25);
  a {
    text-decoration: none;
    overflow: hidden;
    color: darken(#ffffff, 10);
    width: calc(100% - 4em);
    &:hover {
      text-decoration: underline;
    }
  }
  .points {
    float: left;
    font-weight: bold;
    width: 3em;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    padding: 0 .4em;
    color: $action-color;
  }
  .info {
    padding-top: .4em;
    float: left;
    width: calc(100% - 6em);
  }
  @media (min-width: 50em) {
    .title {
      a {
        font-size: 1.5em;
      }
      .domain {
        margin-left: 1em;
      }
    }
  }
  .stats {
    margin-top: .5em;
    font-size: .9em;
    span {
      margin-right: .5em;
    }
  }
  &:nth-child(even) {
    background: lighten(#000000, 10);
    color: darken(#ffffff, 15);
    a {
      color: #ffffff;
    }
    .points {
      color: lighten($action-color, 10);
    }
  }
}

$size: 1.4rem;
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  color: transparent !important;
  content: "";
  min-height: $size*2;
  pointer-events: none;
  position: relative;
  &::after {
    animation: loading 500ms infinite linear;
    border: .2rem solid $action-color;
    border-radius: $size;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: $size*2;
    left: 50%;
    margin-left: -$size;
    margin-top: -$size;
    position: absolute;
    top: 50%;
    width: $size*2;
    z-index: 1;
  }
}
